<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragment/head :: [//head]">
		<title>*Dummy*</title>
	</head>
	<body>
		<div th:include="fragment/nav :: [//body]"/>
		
		<section id="search-section">
			<h1>Search</h1>
			<form id="search" action="/search-result.html" method="POST">
				<input id="search-query" type="text" name="query" value="the answer to life, the universe and everything"/>
				<button type="submit">Search</button>
			</form>
		</section>
		
		<footer th:include="fragment/footer :: [//footer]"/>
		<div th:include="fragment/javascript :: [//body]"/>
	</body>
</html>