html {
	font-family: 'Helvetica Neue', sans-serif; 
	background-color: #fff;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

#menu {
	background-color: #eee;
	padding: 3px;
}

#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu > ul > li {
    display: inline;
	padding-right: 16px;
}

#search-query {
	width: 500px;
}

footer {
	margin-top: 12px;
	padding: 3px;
	background-color: #eee;
}